.error{
    color: #dc3545;;
}

.help-block strong{
    color: #dc3545;;
}

label.required:after {
    content: "*";
    color: #dc3545;;
    font-size: 14px;
}

.view-image{
	height: 205px;
    width: 247px;
    padding: 2px;
    box-shadow: 4px 3px 6px #ebebeb;
	background: #e1e1e17a;
	object-fit: contain;
}

.inline-flex{
    display: inline;
}

body,select{
    text-transform: capitalize;
}
.error.text-danger{
    text-transform: math-auto !important;
}

.loader{
    width: 40%;
    height: 70px;
    position:fixed;
    top:25%;
    margin: 0% 0% 0% 28%;
}
.loader p{
    font-size: 16px;
    color: #777;
}
.loader .loader-inner{
    display: inline-block;
    position:relative;
    width: 15px;
    border-radius: 15px;
    background: #74d2ba;
}
.loader .loader-inner:nth-last-child(1){
    -webkit-animation: loading 1.5s 1s infinite;
    animation: loading 1.5s 1s infinite;
}
.loader .loader-inner:nth-last-child(2){
    -webkit-animation: loading 1.5s .5s infinite;
    animation: loading 1.5s .5s infinite;
}
.loader .loader-inner:nth-last-child(3){
    -webkit-animation: loading 1.5s 0s infinite;
    animation: loading 1.5s 0s infinite;
}
@-webkit-keyframes loading{
    0%{
        height: 15px;
    }
    50%{
        height: 35px;
    }
    100%{
        height: 15px;
    }
}
@keyframes loading{
    0%{
        height: 15px;
    }
    50%{
        height: 35px;
    }
    100%{
        height: 15px;
    }
}

.loader_container{
    background: #fff;
    height: 90%;
    position: absolute;
}